body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: black;
  --potfisch-ui-main: white;
  --potfisch-ui-background: black;
  --potfisch-ui-background-light: color-mix(
    in lch,
    var(--potfisch-ui-background) 95%,
    white
  );
  --potfisch-ui-background-lighter: color-mix(
    in lch,
    var(--potfisch-ui-background) 90%,
    white
  );
  --potfisch-ui-slant: 15;
  --potfisch-ui-rounded: 8px;
  --potfisch-ui-modal-index: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}
